<br />

<div class="container contenedor-animes">
  <div class="row">
    <p>
      La cantidad total de episodios es {{ totalEpisodios }} y el rating
      promedio es {{ promedio }} // No se porque no sirvio, ver al menos proceso
      :(
    </p>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr />
    </div>
    <div class="col-4" *ngFor="let anime of animes">
      <div class="card" style="width: 18rem">
        <img src="{{ anime.img }}" class="card-img-top" alt="anime image" />
        <div class="card-body">
          <h5 class="card-title">{{ anime.name }}</h5>
          <p class="card-text">⭐{{ anime.Rating }}</p>
          <p class="card-text"><b>Categories: </b>{{ anime.categorie }}</p>
          <a routerLink="/animes/{{ anime.id }}" class="btn btn-primary"
            >More information</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
